In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm

In [2]:
date_list = pd.date_range('2022-09-01', periods=60, freq='D')
date_list

DatetimeIndex(['2022-09-01', '2022-09-02', '2022-09-03', '2022-09-04',
               '2022-09-05', '2022-09-06', '2022-09-07', '2022-09-08',
               '2022-09-09', '2022-09-10', '2022-09-11', '2022-09-12',
               '2022-09-13', '2022-09-14', '2022-09-15', '2022-09-16',
               '2022-09-17', '2022-09-18', '2022-09-19', '2022-09-20',
               '2022-09-21', '2022-09-22', '2022-09-23', '2022-09-24',
               '2022-09-25', '2022-09-26', '2022-09-27', '2022-09-28',
               '2022-09-29', '2022-09-30', '2022-10-01', '2022-10-02',
               '2022-10-03', '2022-10-04', '2022-10-05', '2022-10-06',
               '2022-10-07', '2022-10-08', '2022-10-09', '2022-10-10',
               '2022-10-11', '2022-10-12', '2022-10-13', '2022-10-14',
               '2022-10-15', '2022-10-16', '2022-10-17', '2022-10-18',
               '2022-10-19', '2022-10-20', '2022-10-21', '2022-10-22',
               '2022-10-23', '2022-10-24', '2022-10-25', '2022-10-26',
               '2022-10-27', '2022-10-28', '2022-10-29', '2022-10-30'],
              dtype='datetime64[ns]', freq='D')

In [3]:
movie_title = []
movie_point = []
movie_date = []


for today in tqdm(date_list):
    url = "http://movie.naver.com/movie/sdb/rank/rmovie.nhn?sel=pnt&date=" + (today.strftime('%Y%m%d'))
    html = urlopen(url)
    
    soup = BeautifulSoup(html.read(), 'html.parser')
    titles = soup.find_all('div', {'class':'tit5'})
    points = soup.find_all('td', {'class':'point'})
    
    titles_text = [] #50
    points_text = [] #50
    date = [] #50
    for t, p in zip(titles, points):
        titles_text.append(t.text.strip(' \n'))
        points_text.append(float(p.text))
        date.append(today)
     
    movie_title += titles_text
    movie_point += points_text
    movie_date += date

  0%|          | 0/60 [00:00<?, ?it/s]

In [4]:
frame = pd.DataFrame({'date':movie_date, 'title':movie_title, 'point':movie_point})

movie_point = pd.pivot_table(frame, index=['title'], aggfunc=np.mean)
movie_point_sort = movie_point.sort_values(by='point' ,ascending=False)
movie_point_sort.head(10)

                                    point
title
탑건: 매버릭                          9.770000
인생은 뷰티풀: 비타돌체                    9.742653
클라우스                             9.698833
할머니의 먼 집                         9.626500
극장판 짱구는 못말려: 수수께끼! 꽃피는 천하 떡잎 학교  9.625000
그린 북                             9.600000
가버나움                             9.590000
밥정                               9.585333
아바타 리마스터링                        9.550294
베일리 어게인                          9.533667

2022-09-01부터 2022-10-30까지의 모든 영화의 랭킹을 평점 순으로 정렬했다.
해당 기간 동안 평점이 가장 높았던 영화는 '탑건:매버릭'이고 '인생은 뷰티풀:비타돌체', '클라우스'가 뒤를 이었다.

위와 같은 기간을 설정한 이유는 최근들어 영화를 영화관에서 본 적이 없어 기간을 그렇게 정했고, 생각보다 요즘 영화들의 평점은 높지 않고 전에 상영된 영화들의 평점이 높아 10위 가지의 영화 목록에서 현재 상영 영화들을 보기가 힘들었다. 

탑건:매버릭은 1편인 탑건의 뒤를 이어 나온 후속작으로 전연령층의 흥미를 유발하여 많은 사람들의 사랑을 받았을 것이라 생각한다. 남자라면 한 번쯤 생각해볼 파일럿이라는 주제와 언제나 잘생긴 톰 크루즈 형님의 연기가 사랑 받는 이유라 생각한다.